<html>
  <head>
    <meta charset='UTF-8' />
    <title>Potluck Party</title>
    <link rel='stylesheet' href='/css/jass.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body>
    <div class='flex-column justify-space-around'>
      <header class='display-flex justify-space-between align-center p-2'>
        <h1>
          &#127881 Potluck Party! &#127881
        </h1>
      </header>
      <main class='container container-fluid mt-5'>
        {{{body}}}
      </main>
    </div>
  </body>

</html>