<div class='menu-container'>
  <div class='card-header col-md-10'>
    <h2>
      &#127869 Current Menu
    </h2>
  </div>
  {{#each dishes as |dish|}}
  {{> details}}
  {{/each}}
  <div class='add-dish-container'>
    <h2>
      RSVP with the dish you plan to bring!
    </h2>
    <form class='new-dish-form' action="/api/dish" method="post">
      <label for='dish_name'>
        Dish Name:
      </label>
      <br />
      <textarea id='dish_name' name='dish_name' rows='2' cols='30'>
        {{dish_name}}
      </textarea>
      <br />
      <label for='description'>
        Description:
      </label>
      <br />
      <textarea id='description' name='description' rows='5' cols='30'>
        {{description}}
      </textarea>
      <br />
      <label for='guest_name'>
        Guest Name:
      </label>
      <br />
      <input id='guest_name' name='guest_name' rows='2' cols='30' value="{{guest_name}}">
      </input>
      <br />
      <br />
      <input type='checkbox' id='has_nuts' name='has_nuts' value='true' />
      <label for='has_nuts'>
        Check box if this dish contains nuts
      </label>
      <br />
      <button type='submit' value='Submit'>
        Submit
      </button>
    </form>
  </div>
</div>
<!-- This is the form for adding a new dish -->
{{!-- <script src='/js/add-dish.js'></script> --}}