<!-- For each gallery, the 'gallery-details' partial is used to render the gallery data -->
{{! galleries.length = 10; }}
{{#each galleries as |gallery|}}
  <section class='card'>
    <!-- The contents of this card links to the gallery page using the gallery ID -->
    <a href='/gallery/{{gallery.id}}'>
      <!-- The card contains the gallery name as the card header -->
      <header>{{gallery.name}}</header>
      <!-- The card contains the first painting of the gallery -->
      <img
        src='/images/{{gallery.paintings.0.filename}}'
        alt='{{gallery.paintings.0.description}}'
      />
    </a>
  </section>
{{/each}}

{{> footer}}