<link rel='stylesheet' href='/css/all.css' />
<!-- This template includes hardcoded data. In future lessons, you will be rendering data dynamically. -->
<div class='menu-container'>
  <div class='card-header col-md-10'>
    <h2>
      &#127869 Current Menu
    </h2>
  </div>
  <div>
    <ol>
      {{! // [{name: "Cape Malay Curry", description: ""}, {name: "Fish Tacos", description: ""}] }}
      {{#each dishes}}
        <li>
          <div>{{this.dish_name}}</div>
          <div>{{this.description}}</div>
          {{#if this.isBest}}
            <div id='best'></div>
          {{/if}}
        </li>
      {{/each}}
    </ol>
  </div>
</div>