<div class='dish-card'>
  <div class='dish-card-header'>
    <!-- Below we are rendering the name of one dish using a Handlebars.js expression -->
    {{!-- {{<expression -> <Object, Array, value>>}} --}}
    <h1>Name: {{name}}</h1>
    <h3>Desc: {{description}}</h3>
  </div>
</div>